@import url('./secondary.css');
.firstCar {
            transform: translateX(350px);
            transform: scale(0.5);
            transform: rotate(275deg);
}

.outer {
    /* border: 2px solid black; */
    border-color: black;
    border-width: 2px;
    border-style: solid;
    /* border, margin, padding, position | TOP RIGHT BOTTOM LEFT */
}

.box {
    padding: 30px;
    width: calc(90% - 60px);
    background-color: rebeccapurple;
    color: white;
}

body {
    background-image: url("./images/parabolic-pentagon.svg");
    background-repeat: none;
    background-size: cover;
}

a{color: hotpink;}
a[href="www.west-mec.org"]{color: orange;}
a[href="www.google.com"]{color: green;}
a:hover{color: rebeccapurple; font-size: xx-large;}
a:visited{
    color: yellow;
}

p::first-letter{
    color: red;
    font-size: larger;
    font-family: fantasy;
}

div > p {
    color: peru;
}

footer, header, nav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}