@import url('./secondary.css');
.firstCar {
            transform: translateX(350px);
            transform: scale(0.5);
            transform: rotate(275deg);
}

.outer {
    /* border: 2px solid black; */
    border-color: black;
    border-width: 2px;
    border-style: solid;
    /* border, margin, padding, position | TOP RIGHT BOTTOM LEFT */
}

.box {
    padding: 30px;
    width: calc(90% - 60px);
    background-color: rebeccapurple;
    color: white;
}

body {
    background-image: url("./parabolic-pentagon.svg");
    background-repeat: none;
    background-size: cover;
}

a[href="www.west-mec.org"]{color: orange;}
a[href="http://www.Google.com"]{color: green;}
a:hover{color: rebeccapurple; font-size: xx-large;}
/* a:visited{
    color: yellow;
} */

p::first-letter{
    color: red;
    font-size: larger;
    font-family: fantasy;
}

div > p {
    color: peru;
}

footer, header, nav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a[href="http://Google.com"]::first-letter {
    color: red;
    content: ".com";
}

a[href="http://Wikipedia.com"]::first-letter {
    color: lightblue;
    content: ".com";
}

a[href="http://W3schools.com"]::first-letter {
    color: limegreen;
    content: ".com";
}

a[href="http://Mdn.com"]::first-letter{
    color: blue;
    content: ".com";
}

a[href="http://github.com"]:hover {
    color: green;
    content: ".com";
}

a[href="http://www.google.com"]:hover {
    text-underline-offset: 10000px;
}

a[href="http://Wikipedia.com"]:hover {
   text-underline-offset: 10000px;
}

a[href="http://W3schools.com"]:hover {
    text-underline-offset: 10000px;
}

a[href="http://Mdn.com"]:hover{
    text-underline-offset: 10000px;
}

a[href="http://github.com"]:hover {
    text-underline-offset: 10000px;
}


a[href="http://www.google.com"]::after {
    content: ".com";
}

a[href="http://Wikipedia.com"]::after {
   content: ".com";
}

a[href="http://W3schools.com"]::after {
    content: ".com";
}

a[href="http://Mdn.com"]::after {
    content: ".com";
}

a[href="http://github.com"]::after {
    content: ".com";
}

a[href="http://www.google.com"]::first-letter {
    font-size: larger;
    font-family: fantasy;
}

a[href="http://Wikipedia.com"]::first-letter {
    font-size: larger;
    font-family: fantasy;
}

a[href="http://W3schools.com"]::first-letter {
    font-size: larger;
    font-family: fantasy;
}

a[href="http://Mdn.com"]::first-letter {
    font-size: larger;
    font-family: fantasy;
}

a[href="http://github.com"]::first-letter {
    font-size: larger;
    font-family: fantasy;
}