* { 
    box-sizing: border-box; margin: 0; padding: 0;
}

body {
    font-family: system-ui, sans-serif; 
}

img { 
    max-width: 100%; display: block; 
}

.home {
    scale: 150%;
    position: relative;
    top: 20px
}

.home h1 {
    text-align: center;
}

.home .home-aTags {
    text-align: center;
}

