:root {
    --background: darkslategray;
    --primary: white;
    --secondary: black;

}

p {
    text-align: center;
}

body {
    background:var(--background);
    color:var(--primary);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    background:var(--primary);
    color:var(--secondary);
    padding: 10px;
    margin: 0;
    text-align: center;
    font-size: 200%;
}

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    border: 5px solid var(--secondary);
    margin: 3px;
    padding: 3px;
    justify-items: center;
    text-align: center;
    width: 30vw;
}

button {
    background:var(--primary);
    border:4px solid var(--secondary);
    border-radius: 0.5cap;
    font-size: 300%;
}

@media (max-width: 480px) {
    .grid {
        flex-direction: column;
    }

    .box {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 1vh;
    }

    button {
        font-size: 200%;
    }

    h1 {
        font-size: 100%;
    }


}

