body {
    background-image: url("./347040.png");
    background-repeat: none;
    background-size: cover;
    color: white;
}

img {
  margin: auto;
}

.border {
  border: 10px solid white;
}

a {
    color: white;
}