/* 
    PX - is fixed CSS pixels
    EM - is relative to the elements computed font-size (usually the parent)
        - EM: scales the current elements font size.
            for example: if the parent font-size is 16px, then 1.25em = 20px
    REM - is relative to the root HTML computer font-size
        - REM: scales from the root, meaning that 16 HTML pizels is equal to 1 REM pixel.
*/

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

form li+li {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input, textarea {
    /* To make sure that all the text feilds have the same font settings by default, textareas have a monospace font */
    font:1em sans-serif;
    
    /* unifrom text feild size */
    width: 300px;
    box-sizing: border-box;

    /* match form borders */
    border: 1px solid #999;
}

input:focus, textarea:focus {
    /* focus refers to the current itemm clicked or has the user's focus: this will add additional height to focused elements */
    border-color: #000;
}

textarea {
    /* align multiline text feilds with their labels */
    vertical-align: top;
    /* provide space to type some text */
    height: 5em;
}

button {
    /* this entire margin represents roughly the same space as the space between the labels and their text feilds */
    margin-left: .5em;
}

.button{
    /* aligns buttons with the text feilds */
    padding-left: 90px;
    /* same size as the label elements */
}