<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media Queryeis and Media Devices</title>
    <style>

    </style>
</head>
<body>
    <header>
        <div class="wrapper bar">
            <div class="brand">Media Quereis
                <div class="tag">Mobile-First</div>
            </div>
        </div>
    </header>
    <main class="wrapper">
        <section class="hero">
            <h1>What Why How?</h1>
            <p>Media queries let your CSS repsond to the device of the enviornment. The most common use is to change the layouts as the viewport/window gets wider</p>
            <div class="note">Try resizing the browser window open devtools toggle device toolbar and grid below from 1 -> 2 -> 3 -> 4 coll</div>
        </section>

        <section>
            <h2>Responsive Device Layout</h2>
            <p>grid below from 1 -> 2 -> 3 -> 4 column @480px, @768px and @1024px</p>
            <div class="grid">
                <article class="card">
                    <h3></h3>
                    <p></p>
                </article>
                <article class="card">
                    <h3></h3>
                    <p></p>
                </article>
                <article class="card">
                    <h3></h3>
                    <p></p>
                </article>
                <article class="card">
                    <h3></h3>
                    <p></p>
                </article>
                <article class="card">
                    <h3></h3>
                    <p></p>
                </article>
                <article class="card">
                    <h3></h3>
                    <p></p>
                </article>
                <article class="card">
                    <h3></h3>
                    <p></p>
                </article>
                <article class="card">
                    <h3></h3>
                    <p></p>
                </article>
            </div>
        </section>
    </main>
</body>
</html>