* {
    box-sizing: border-box;
    border-radius: 15cap;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-image: linear-gradient(75deg, rgb(21, 21, 21), rgb(7, 7, 71));
    width: 95vw;
    margin: 0 auto;
    display: flex;
    place-items: start center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2vh;
    gap: 2vh;
}

/* header */

header {
    display: flex;
    border: 4px solid #1f2337;
    border-radius: 14px;
    padding: 6vh;
    box-shadow: 0 6px 24px rgba(0, 0, 0, .25);
    width: 100%;
    height: 3vw;
    flex-direction: row;
    justify-content: space-between;
}

header > .logo-Title {
    display: flex;
    align-self: center;
    width: 17%;
    justify-content: space-evenly;
}

header > .logo-Title > img {
    align-self: center;
}

header > nav {
    display: flex;
    align-self: center;
    width: 30vw;
    justify-content: space-evenly;
    
}


/* hero */

.heroBand {
    display: flex;
    border: 4px solid #1f2337;
    border-radius: 14px;
    padding: 18px;
    box-shadow: 0 6px 24px rgba(0, 0, 0, .25);
    width: 100%;
    align-self: center;
    flex-direction: row;
    justify-content: space-evenly;   
}

.heroBand > img {
    display: flex;
    align-self: center;
    width: 45vw;
    height: 15vw;
    justify-content: space-evenly;
    align-items: center;
}

.heroBand > div {
    padding-left: 3vh;
    align-content: center;
}

.heroBand > div > button {
    border: 0cap;
    width: 20vh; 
    height: 7vh;
    font-size: 3vh; 
}

.heroBand > div > .button1 {
    background-color: rgba(35, 117, 249);
    color: black;
}

.heroBand > div > .button2 {
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    border: 0.5vh solid black;
}


/* main */

main {
    display: flex;
    width: 90vw;
    padding: 18px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

/* sidebar */

.sidebar {

    display: flex;
    border: 4px solid #1f2337;
    border-radius: 14px;
    padding: 18px;
    box-shadow: 0 6px 24px rgba(0, 0, 0, .25);

    flex: 0 0 260px;
    flex-basis: 1;
    flex-grow: 0;
    justify-content: start;
    align-self: stretch;
    margin: 0; 

}

.sidebarText > ul > li > a {
    color: blue;
    text-decoration: underline;
}

/* article */

.article {

    display: flex;
    border: 4px solid #1f2337;
    border-radius: 14px;
    padding: 18px;
    box-shadow: 0 6px 24px rgba(0, 0, 0, .25);
    
    flex-direction: column;
    flex: 1 1 70%;
    flex-basis: 1;
    flex-grow: 1;
    justify-content: end;
    margin: 0; 
    gap: 10px;

}

.articleText {
    width: 100%;
}

.articleCards {
    display: flex;
    flex-wrap: wrap;
    
    gap: 10px;
    border: 4px solid #1f2337;
    border-radius: 14px;
    padding: 18px;
    box-shadow: 0 6px 24px rgba(0, 0, 0, .25);
    justify-content: center;
}

.articleCards > div {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 350px;
    border: 4px solid #1f2337;
    border-radius: 14px;
    padding: 18px;
    box-shadow: 0 6px 24px rgba(0, 0, 0, .25);
    flex-direction: column;

}

.articleCards > div > h4 {
    margin-top: 5px;
}

.articleCards > div a {
    border: 2px solid #1f2337;
    border-radius: 7px;
    padding: 7px;
    color: blue;
    text-decoration: underline;
}

.card1 {
    display: flex;
    flex-basis: 0;
}

.card2 {
    display: flex;
}

.card3 {
    display: flex;
    align-self: flex-start;
}

.card4 {
    display: flex;
    flex-wrap: wrap;
}

.card5 {
    display: flex;
}

.card6 {
    display: flex;
}


/* call to action */

.callToAction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    border: 4px solid #1f2337;
    border-radius: 14px;
    box-shadow: 0 6px 24px rgba(0, 0, 0, .25);
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
}

.callToActionButtons {
    display: flex;
    gap: 1rem;
}

.callToActionButtons > button {
    border: 0cap;
    width: 25vh;
    height: 8vh;
    font-size: 100%; 
}

.callToActionButtons > .button1 {
    background-color: rgba(35, 117, 249);
    color: black;
}

.callToActionButtons > .button2 {
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    border: 0.5vh solid black;
}

.callToAction button a {
    text-decoration: none;
}

/* footer */

footer {
    display: flex;
    border: 4px solid #1f2337;
    border-radius: 14px;
    padding: 18px;
    box-shadow: 0 6px 24px rgba(0, 0, 0, .25);
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
}

.footerDivs {
    display: flex;
    flex-direction: row;
    gap: 35vh;
    align-content: space-evenly;
    

}

.footerDivs > div {
    display: flex;
    flex-direction: column;
    
    
}

.footerDivs > div > h4,h5 {
    margin-bottom: 10%;
    margin-top: 10%;
}


